<p id="notice"><%= notice %></p>
<div class="panel panel-default"><h1 class="panel-heading center">Listing Pins</h1>
  <div class="panel-body">
      
      <% @pins.each do |pin| %>
      <h2>Image</h2>
      <td><%= link_to image_tag(pin.image.url(:thumb)), pin %></td>
      <br/>
      <strong>Description:</strong>
      <br/>
        <%= pin.description %>
        <% if user_signed_in? %>
        <br/>
      <td><%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-primary btn-xs" %></td>
      <td><%= link_to 'Destroy', pin, class: "btn btn-primary btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <br/><br/>
    <% end %> 
    <% end %>  
      </div>
       <div class="panel-footer center">
         <%= link_to 'New Pin', new_pin_path, class: "btn btn-primary navbar-btn" %>
         </div>
    
      </div>
            
      

      
      


  
