
<br/><br/>

<div class="jumbotron center">
    
    <h1>Welcome to pinterested clone!</h1>
    <p>Proceed at your own risk...</p>
    
    <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
        <%= link_to 'New Pin', new_pin_path, class: "btn btn-primary navbar-btn" %>
        <%= link_to 'Your Pins', pins_path, class: "btn btn-default navbar-btn" %>
    <% else %>
        <%= link_to 'LOGIN', new_user_session_path, class: "btn btn-default navbar-btn" %>
        <%= link_to 'JOIN US!', new_user_registration_path, class: "btn btn-primary navbar-btn" %>
        
    <% end %>    
</div>