
<br/><br/>

<div class="jumbotron center">
    
    <h1>Welcome bella!</h1>
    <p>This site is strictly for bella and I</p>
    
    <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
        <%= link_to 'New Pin', new_pin_path, class: "btn btn-primary navbar-btn" %>
        <%= link_to 'Pins', pins_path, class: "btn btn-default navbar-btn" %>
    <% else %>
        <%= link_to 'Login!', new_user_session_path, class: "btn btn-default navbar-btn" %>
        <%= link_to 'Join!', new_user_registration_path, class: "btn btn-primary navbar-btn" %>
        
    <% end %>    
</div>